:root {
  --primary: #533747;
  --secondary: #ae847e;
  --dk-grey: #333;
  --max-width: 960px;
  --spacing: 4rem;
  --img-width: 350px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
  background-color: var(--primary);
  padding: 0 35px;
}

.header-links {
  display: none;
}

@media (min-width: 992px) {
  .header-links {
    display: flex;
    color: var(--secondary);
  }
  .header-links li {
    margin-right: 20px;
  }

  .header-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

h1 {
  margin-bottom: var(--spacing);
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.4em;
  margin-bottom: 2rem;
}

.button {
  display: inline-block;
  width: max-content;
  color: var(--button-color);
  font-weight: bold;
  border: 2px solid var(--button-color);
  text-decoration: none;
  padding: 1rem;
  margin-bottom: 0.8rem;
}

.button:hover {
  color: var(--button-hover-color);
  background-color: var(--button-color);
  transition: all 0.3s ease-in-out;
}

h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: var(--spacing);
}

h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

p {
  margin-bottom: 1em;
  line-height: 1.4em;
  font-size: 1em;
  font-weight: 400;
}

blockquote {
  margin-top: var(--spacing);
  font-size: 2rem;
  font-style: italic;
  text-align: center;
}

cite {
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
  font-style: normal;
  text-align: center;
}

section {
  padding: var(--spacing);
}

footer {
  padding: var(--spacing);
  text-align: center;
  background-color: var(--dk-grey);
  color: white;
}

.about {
  position: relative;
  margin-bottom: 100px;
  background-color: var(--primary);
  color: white;
  padding: var(--spacing);
}

.about::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -100px;
  width: 0;
  height: 0;
  border-top: 100px solid var(--primary);
  border-right: 100vw solid transparent;
}

.about-container {
  max-width: 960px;
  margin: 0 auto;
  display: block;
}

.about-img {
  display: block;
  width: 100%;
  max-width: 350px;
  filter: grayscale(100%);
}

.about-img:hover {
  filter: grayscale(0%);
}

@media (min-width: 800px) {
  .about-container {
    display: flex;
  }

  .about-img {
    display: block;
    width: 50%;
    max-width: 350px;
    margin-right: 2rem;
  }

  .about-text {
    width: 50%;
  }

  /**.article-img {
    display: block;
    width: 100%;
    max-width: 350px;
    margin: 0 auto var(--spacing);
  }*/
}

.neutral-theme {
  background-color: white;
  --button-color: var(--primary);
  --button-hover-color: white;
}

.primary-theme {
  color: white;
  background-color: var(--primary);
  --button-color: white;
  --button-hover-color: var(--primary);
}

article {
  display: flex;
  flex-direction: column-reverse;
}

.article-img {
  /**display: block;
  width: 100%;
  min-width: 450px;
  margin: 0 auto var(--spacing);*/
  margin-bottom: 1rem;
  margin-top: 3rem;
}

@media (min-width: 800px) {
  article {
    flex-direction: row;
    max-width: 960px;
    margin: 0 auto var(--spacing);
  }
  .article-img {
    display: block;
    margin-left: 2rem;
    max-width: 350px;
    object-fit: cover;
  }
}

.contact {
  position: relative;
  margin-top: 100px;
  text-align: center;
}

.contact::before {
  content: "";
  position: absolute;
  right: 0;
  top: -100px;
  width: 0;
  height: 0;
  border-bottom: 100px solid var(--primary);
  border-left: 100vw solid transparent;
}

.social {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing);
}

.social-item {
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  margin: 0 2rem;
}

.social-link {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 0px;
  background: no-repeat;
  background-size: 30px;
}

.social-link:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.linkedin {
  background-image: url(../images/icon-linkedin.png);
}

.youtube {
  background-image: url(../images/icon-youtube.png);
}

.twitter {
  background-image: url(../images/icon-twitter.png);
}

.github {
  background-image: url(../images/icon-github.png);
}

.header-link::after {
  content: "";
  width: 0;
  height: 0;
  margin-left: 1rem;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.75rem solid var(--primary);
}

.header-link:hover::after {
  border-top-color: white;
  transition: transform 0.3s ease-in-out;
}

.header-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-div {
  display: flex;
  justify-content: end;
}

.dark-theme {
  background: #333;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}
